.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.7);
    z-index: 1000;
    display: flex; 
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}


.modal-content-container {
    width: 70%;
    height: 75%;
    background-color: #DFE8F6;
    border-radius: 15px;
    overflow:hidden;
}

.modal-header {
    /*display: flex;*/ /* This is a */
    /*justify-content: space-between;*/ /* Game */
    /*align-items: flex-end;*/ /* Changerrrrrrr */
/*    border: 2px solid black;*/

    background-color: #3498DB;
    height: 15%;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}

.modal-header-left {
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.modal-header-title{
    width: fit-content;
    margin: auto;
}

.modal-header-right {
    border: 2px solid black;
    margin: auto 0;
    margin-right: 15px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
.modal-header-right button {
    color: white;
    width: 70px;
    height: 35px;
}

.cancel {
    background-color: #E67E22;
}

.save {
    background-color: #E67E22;
}


