@inherits LayoutComponentBase

<div class="page">
    <header>
        <h1>My Jobs</h1>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
