@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="main-page">
    <header class="title">  
        <h1>My Jobs</h1>
        <button class="add-job" @onclick="AddJob">+Add Job</button>
    </header>
    <main class="main-content">
        @Body
    </main>
</div>

@code {
    private void AddJob()
    {
        JS.InvokeVoidAsync("alert", "Button clicked!");
    }
}